:root {
  --color-white: #fff;
  --color-light-white: #eee;
  --color-light-grey: #ddd;
  --color-black: #000;
  --bright-orange: hsl(31, 77%, 52%);
  --bright-green: hsl(150, 100%, 25%);
  --dark-sky-blue: hsl(180, 100%, 30%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* Header */

.remove-underline {
  text-decoration: none;
}

.header {
  background-color: var(--color-light-white);
  height: 70px;
  padding: 1.5rem;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 1.5rem;
}

.header a:visited {
  color: var(--color-black);
}

.header a:hover {
  color: #aaa;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav__link {
  list-style: none;
  margin: 0 0.5rem;
}

/* Showcase */

.showcase {
  background: url('./images/doggy.jpg') no-repeat center;
  background-size: cover;
  filter: brightness(85%);
  color: var(--color-white);
  height: 550px;
  text-shadow: 1px 1px 5px var(--color-black);
}

.showcase__container {
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

/* Card */

.card {
  display: flex;
}

.card h1 {
  color: var(--color-white);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card p {
  color: var(--color-light-grey);
  font-size: 15px;
  line-height: 1.75;
}

.card__container {
  padding: 3rem;
  width: 100%;
}

.card__sedan {
  background-color: var(--bright-orange);
}

.card__suv {
  background-color: var(--bright-green);
}

.card__luxury {
  background-color: var(--dark-sky-blue);
}

.card__sedan p {
  width: 22ch;
}

.card__suv p {
  width: 23ch;
}

.card__luxury p {
  height: 130px;
  width: 23ch;
}

/* Button */

.btn {
  background-color: var(--color-light-white);
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  margin: 1rem 0;
  margin-top: 4rem;
  padding: 1rem;
  width: 150px;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--color-light-white);
  color: var(--color-light-white);
  cursor: pointer;
}

.btn__sedan {
  color: var(--bright-orange);
}

.btn__suv {
  color: var(--bright-green);
}

.btn__luxury {
  color: var(--dark-sky-blue);
}

/* Footer */

.footer {
  background-color: var(--color-light-grey);
  color: var(--color-black);
  padding: 0.5rem;
  text-align: center;
}
