:root {
  --color-white: #fff;
  --color-light-white: #eee;
  --color-light-grey: #ddd;
  --color-black: #000;
  --bright-orange: hsl(31, 77%, 52%);
  --bright-green: hsl(150, 100%, 25%);
  --dark-sky-blue: hsl(180, 100%, 30%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* Header */

.remove-underline {
  text-decoration: none;
}

.header {
  background-color: var(--color-light-white);
  height: 8vh;
  padding: 24px;
  letter-spacing: 1.25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: var(--color-black);
  font-size: 1.5rem;
}

.header a:visited {
  color: var(--color-black);
}

.header a:hover {
  color: #aaa;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav__link {
  color: var(--color-black);
  list-style: none;
  margin: 0 0.5rem;
}

/* Dropdown Button */

.dropbtn {
  background-color: var(--color-black);
  border-radius: 3px;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-size: 16px;
  padding: 12px 24px;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content li {
  color: var(--color-black);
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content li:hover {
  background-color: var(--color-light-white);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #aaa;
}

/* Showcase */

.showcase {
  background: url('./images/home.jpg') no-repeat center;
  background-size: cover;
  filter: brightness(85%);
  color: var(--color-white);
  height: 80vh;
  text-shadow: 1px 1px 5px var(--color-black);
}

.showcase__container {
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

/* Card */

.card {
  display: flex;
}

.card h1 {
  color: var(--color-white);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card p {
  color: var(--color-light-grey);
  font-size: 15px;
  line-height: 1.75;
}

.card__container {
  padding: 3rem;
  width: 100%;
}

.card__fast {
  background-color: var(--bright-orange);
}

.card__easy {
  background-color: var(--bright-green);
}

.card__reliable {
  background-color: var(--dark-sky-blue);
}

.card__fast p {
  width: 25ch;
}

.card__easy p {
  width: 25ch;
}

.card__reliable p {
  width: 25ch;
}

/* Button */

.btn {
  background-color: var(--color-light-white);
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  margin: 1rem 0;
  margin-top: 4rem;
  padding: 1rem;
  width: 150px;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--color-light-white);
  color: var(--color-light-white);
  cursor: pointer;
}

.btn__fast {
  color: var(--bright-orange);
}

.btn__easy {
  color: var(--bright-green);
}

.btn__reliable {
  color: var(--dark-sky-blue);
}

/* Form */

.form__container {
  filter: brightness(95%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signInForm {
  background: url('./images/signin.jpg') no-repeat center;
  background-size: cover;
}

.RegistrationForm {
  background: url('./images/register.jpg') no-repeat center;
  background-size: cover;
}

.form__card {
  background-color: var(--color-white);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.form__title {
  margin: 1rem 0;
  text-align: center;
}

.form {
  padding: 1rem;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input:not([type='radio']) {
  border-radius: 4px;
  border: 1px solid #ccc;
  display: block;
  font: inherit;
  height: 35px;
  padding: 0.25rem;
  width: 100%;
}

.form .control .error {
  border: 2px solid red;
}

.control__radio {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  background-color: #77002e;
  border-radius: 4px;
  border: 1px solid #77002e;
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  font: inherit;
  padding: 0.5rem 1.5rem;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

/* Activities */

.activity__section {
  background: url(./images/test4.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.activity__item {
  margin: 1rem 0;
}

.activity__card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.activity__image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.activity__content {
  text-align: center;
  padding: 1rem;
}

.activity__content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.activity__actions {
  padding: 1.5rem;
  text-align: center;
}

.activity__actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin: 0 0.5rem;
}

.activity__actions button:hover,
.activity__actions button:active {
  background-color: #ffe2ed;
}

/* Footer */

.footer {
  background-color: var(--color-light-grey);
  color: var(--color-black);
  padding: 0.5rem;
  text-align: center;
}
